


.fc .fc-daygrid-day-number {
  font-size: 25px;
  position: relative;
  z-index: 4;
  padding: 4px;
}

tr
{
  color: green;
  font-size: 25px;
}


#fc-dom-2 {
  font-size: 30px;
  margin: 0;
  color: #ea4b43;
}

.fc-button, .fc-today-button, .fc-button-primary {
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.fc{
  padding: 20px 0;
}

.add__event{
  margin: 20px 0;
  border: none;
  outline: none;
  padding: 15px 50px;
  font-size: 20px;
  color: white;
  background: green;
}
